.App {
  text-align: center;
}

#logo {
  background-image: url("./images/favicon.jpeg");
  width: 40px;
  size: cover;
}
body {
  background-image: url("./images/bg.png");
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

#alarm {
  background-color: cadetblue;
}

#text {
  background-color: beige;
  color: black !important;
}
#level {
  background-color: darkseagreen;
  color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

footer {
  background-color: white;
  margin: 0;
  padding: 0;
  padding-top: 4em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
